<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490026843618-cd8b4rv7953g9qommm31jqe18qrldmrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490026843618-cd8b4rv7953g9qommm31jqe18qrldmrt</string>
	<key>API_KEY</key>
	<string>AIzaSyAEHHGVOcduiPkWmyTMya-A1KgMnTBVGnI</string>
	<key>GCM_SENDER_ID</key>
	<string>490026843618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.project</string>
	<key>PROJECT_ID</key>
	<string>test-64239</string>
	<key>STORAGE_BUCKET</key>
	<string>test-64239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490026843618:ios:7bebbe156ff03690604dbb</string>
</dict>
</plist>